<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>Lesson</title>
</head>
<body class="body">
    <section class="section">
        <h1 class="main-text">{{date}} <span class="years">{{year}}</span></h1>
        <div class="day">
            <h1 class="text">Понедельник :</h1>
            <ul class="list">
                <li class="lesson"><a href="https://meet.google.com/hyq-zues-nqo" target="_blank">Українська мова</a></li>
                <li class="lesson"><a href="https://meet.google.com/hyq-zues-nqo" target="_blank">Українська мова</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/79384146950?pwd=GeRENFQbqa2OF9Twdgxq49tHkgpzc5.1" target="_blank">Хімія</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/4752390816?pwd=MDdubXVSSC9SMW1vTDFqUXhuVHRhQT09" target="_blank">Математика</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/5900901428?pwd=TVZ6elVPb0RCV21OaU1DcVk5NmlQZz09&omn=75893524742" target="_blank">Англійська мова</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/5900901428?pwd=TVZ6elVPb0RCV21OaU1DcVk5NmlQZz09&omn=75893524742" target="_blank">Англійська мова</a></li>
                <li class="lesson"><a href="https://us05web.zoom.us/j/86221881800?pwd=kuUBjvxOJota8sq512Ze98FZETheVf.1" target="_blank">Фізична культура</a></li>
            </ul>
        </div>
        <div class="day">
            <h1 class="text">Понедельник :</h1>
            <ul class="list">
                <li class="lesson"><a href="https://meet.google.com/juu-ofbv-eyt" target="_blank">Iсторія</a></li>
                <li class="lesson"><a href="https://meet.google.com/san-doyx-fgk" target="_blank">Технології</a></li>
                <li class="lesson"><a href="https://meet.google.com/san-doyx-fgk" target="_blank">Технології</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Фізика</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Астрономія</a></li>
                <li class="lesson"><a href="https://meet.google.com/hyq-zues-nqo" target="_blank">Українська мова</a></li>
                <li class="lesson"><a href="https://meet.google.com/hyq-zues-nqo" target="_blank">Українська мова</a></li>
            </ul>
        </div>
        <div class="day">
            <h1 class="text">Среда :</h1>
            <ul class="list">
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Захист України/історія України</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/5900901428?pwd=TVZ6elVPb0RCV21OaU1DcVk5NmlQZz09&omn=75893524742" target="_blank">Англійська мова</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Біологія</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/4752390816?pwd=MDdubXVSSC9SMW1vTDFqUXhuVHRhQT09" target="_blank">Геометрія</a></li>
                <li class="lesson"><a href="https://meet.google.com/kja-arex-ckh" target="_blank">Інформатика</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/79384146950?pwd=GeRENFQbqa2OF9Twdgxq49tHkgpzc5.1" target="_blank">Хімія</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/5900901428?pwd=TVZ6elVPb0RCV21OaU1DcVk5NmlQZz09&omn=75893524742" target="_blank">Англійська</a></li>
            </ul>
        </div>
        <div class="day">
            <h1 class="text">Понедельник :</h1>
            <ul class="list">
                <li class="lesson">Захист України</li>
                <li class="lesson"><a href="https://meet.google.com/juu-ofbv-eyt" target="_blank">Iсторія</a></li>
                <li class="lesson"><a href="https://us05web.zoom.us/j/86221881800?pwd=kuUBjvxOJota8sq512Ze98FZETheVf.1" target="_blank">Фізична культура</a></li>
                <li class="lesson"><a href="https://meet.google.com/ixd-eixu-qvp" target="_blank">Українська література</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/4752390816?pwd=MDdubXVSSC9SMW1vTDFqUXhuVHRhQT09" target="_blank">Алгебра</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Фізика</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/73219911587?pwd=YjtSIG6wcWNZyhYTn5i3QKKewiTk6N.1" target="_blank">Географія</a></li>
            </ul>
        </div>
        <div class="day">
            <h1 class="text">Понедельник :</h1>
            <ul class="list">
                <li class="lesson"><a href="https://us05web.zoom.us/j/2198605765?pwd=4DTMPp6Wv1wiBgGcYcG8FQcyeYXC4b.1" target="_blank">Зарубіжна література</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Біологія</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/4752390816?pwd=MDdubXVSSC9SMW1vTDFqUXhuVHRhQT09" target="_blank"> Геометрія</a></li>
                <li class="lesson"><a href="https://us05web.zoom.us/j/86221881800?pwd=kuUBjvxOJota8sq512Ze98FZETheVf.1" target="_blank">Фізкультура</a></li>
                <li class="lesson"><a href="https://meet.google.com/ixd-eixu-qvp" target="_blank">Українська література</a></li>
                <li class="lesson"><a href="https://lms.human.ua/app/calendar" target="_blank">Фізика</a></li>
                <li class="lesson"><a href="https://us04web.zoom.us/j/4752390816?pwd=MDdubXVSSC9SMW1vTDFqUXhuVHRhQT09" target="_blank">Математика</a></li>
            </ul>
        </div>
    </section>

    <!-- Скрипты. -->
    <script>

    </script>
</body>
</html>